.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 67px;
  width: 100vw;
  background-color: #c3cfd9;
  color: #e8833a;
  font-size: 34px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movies-list-title {
  width: 100vw;
  height: 110px;
  margin-top: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}
.movies-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movies {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.movie {
  width: 138px;
  height: 201px;
  background-color: #ffffff;
  margin: 19px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.movie img {
  width: 129px;
  height: 193px;
  padding: 8px;
}

.movie-availability {
  padding-top: 67px;
}
.movie-availability-title {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}
.movie-showtime-date {
  width: 241px;
  height: 35px;
  margin-left: 23px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.movie-showtime-hour {
  display: flex;
}
.movie-showtime-hour button {
  width: 83px;
  height: 43px;
  font-size: 14px;
  font-weight: 400;
  background-color: #e8833a;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 22px 8px 23px 23px;
}
.movie-availability-footer {
  position: fixed;
  height: 117px;
  width: 100vw;
  background-color: #c3cfd9;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
}
.movie-availability-footer-image {
  width: 64px;
  height: 89px;
  margin: 0 22px 0px 10px;
  background-color: #ffffff;
}
.movie-availability-footer-image img {
  padding: 8.5px 8px;
  width: 48px;
  height: 72px;
}
